@using Kaidao.Application.Responses
@model Kaidao.Application.ViewModels.BookUpdateRequest

@{
    ViewData["Title"] = "Chỉnh sửa truyện";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--begin::Toolbar-->
<div class="toolbar" id="kt_toolbar">
	<!--begin::Container-->
	<div id="kt_toolbar_container" class="container-fluid d-flex flex-stack">
		<!--begin::Page title-->
		<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0">
			<!--begin::Title-->
			<h1 class="d-flex text-dark fw-bolder fs-3 align-items-center my-1">Chỉnh Sửa</h1>
			<!--end::Title-->
			<!--begin::Separator-->
			<span class="h-20px border-gray-300 border-start mx-4"></span>
			<!--end::Separator-->
			<!--begin::Breadcrumb-->
			<ul class="breadcrumb breadcrumb-separatorless fw-bold fs-7 my-1">
				<!--begin::Item-->
				<li class="breadcrumb-item text-muted">
					<a href="#" class="text-muted text-hover-primary">Home</a>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item">
					<span class="bullet bg-gray-300 w-5px h-2px"></span>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item text-muted">Quản lý truyện</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item">
					<span class="bullet bg-gray-300 w-5px h-2px"></span>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item text-muted">Truyện</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item">
					<span class="bullet bg-gray-300 w-5px h-2px"></span>
				</li>
				<!--end::Item-->
				<!--begin::Item-->
				<li class="breadcrumb-item text-dark">Chỉnh sửa</li>
				<!--end::Item-->
			</ul>
			<!--end::Breadcrumb-->
		</div>
		<!--end::Page title-->
		<!--begin::Actions-->
		<div class="d-flex align-items-center gap-2 gap-lg-3">
			<!--begin::Filter menu-->
			<div class="m-0">
				<!--begin::Menu toggle-->
				<a href="#" class="btn btn-sm btn-flex btn-light btn-active-primary fw-bolder" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
				<!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
				<span class="svg-icon svg-icon-5 svg-icon-gray-500 me-1">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
						<path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
					</svg>
				</span>
				<!--end::Svg Icon-->Filter</a>
				<!--end::Menu toggle-->
				<!--begin::Menu 1-->
				<div class="menu menu-sub menu-sub-dropdown w-250px w-md-300px" data-kt-menu="true" id="kt_menu_624475d256e37">
					<!--begin::Header-->
					<div class="px-7 py-5">
						<div class="fs-5 text-dark fw-bolder">Filter Options</div>
					</div>
					<!--end::Header-->
					<!--begin::Menu separator-->
					<div class="separator border-gray-200"></div>
					<!--end::Menu separator-->
					<!--begin::Form-->
					<div class="px-7 py-5">
						<!--begin::Input group-->
						<div class="mb-10">
							<!--begin::Label-->
							<label class="form-label fw-bold">Trạng thái:</label>
							<!--end::Label-->
							<!--begin::Input-->
							<div>
								<select class="form-select form-select-solid" data-placeholder="Select option" data-dropdown-parent="#kt_menu_624475d256e37" data-allow-clear="true">
									<option></option>
									<option value="1">Approved</option>
									<option value="2">Pending</option>
									<option value="2">In Process</option>
									<option value="2">Rejected</option>
								</select>
							</div>
							<!--end::Input-->
						</div>
						<!--end::Input group-->
						<!--begin::Input group-->
						<div class="mb-10">
							<!--begin::Label-->
							<label class="form-label fw-bold">Member Type:</label>
							<!--end::Label-->
							<!--begin::Options-->
							<div class="d-flex">
								<!--begin::Options-->
								<label class="form-check form-check-sm form-check-custom form-check-solid me-5">
									<input class="form-check-input" type="checkbox" value="1" />
									<span class="form-check-label">Author</span>
								</label>
								<!--end::Options-->
								<!--begin::Options-->
								<label class="form-check form-check-sm form-check-custom form-check-solid">
									<input class="form-check-input" type="checkbox" value="2" checked="checked" />
									<span class="form-check-label">Customer</span>
								</label>
								<!--end::Options-->
							</div>
							<!--end::Options-->
						</div>
						<!--end::Input group-->
						<!--begin::Input group-->
						<div class="mb-10">
							<!--begin::Label-->
							<label class="form-label fw-bold">Notifications:</label>
							<!--end::Label-->
							<!--begin::Switch-->
							<div class="form-check form-switch form-switch-sm form-check-custom form-check-solid">
								<input class="form-check-input" type="checkbox" value="" name="notifications" checked="checked" />
								<label class="form-check-label">Enabled</label>
							</div>
							<!--end::Switch-->
						</div>
						<!--end::Input group-->
						<!--begin::Actions-->
						<div class="d-flex justify-content-end">
							<button type="reset" class="btn btn-sm btn-light btn-active-light-primary me-2" data-kt-menu-dismiss="true">Reset</button>
							<button type="submit" class="btn btn-sm btn-primary" data-kt-menu-dismiss="true">Apply</button>
						</div>
						<!--end::Actions-->
					</div>
					<!--end::Form-->
				</div>
				<!--end::Menu 1-->
			</div>
			<!--end::Filter menu-->
			<!--begin::Secondary button-->
			<!--end::Secondary button-->
			<!--begin::Primary button-->
			<a href="../../demo1/dist/.html" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_app">Create</a>
			<!--end::Primary button-->
		</div>
		<!--end::Actions-->
	</div>
	<!--end::Container-->
</div>
<!--end::Toolbar-->
<!--begin::Post-->
<div class="post d-flex flex-column-fluid" id="kt_post">
	<!--begin::Container-->
	<div id="kt_content_container" class="container-xxl">
		<!--begin::Form-->
		<form asp-action="Edit" enctype="multipart/form-data" method="post" class="form d-flex flex-column flex-lg-row">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="Book.Id" type="hidden" value="@Model.Book.Id" />
			<input asp-for="Book.Key" type="hidden" value="@Model.Book.Key" />
			<input asp-for="Book.Like" type="hidden" value="@Model.Book.Like" />
			<input asp-for="Book.View" type="hidden" value="@Model.Book.View" />
			<input asp-for="Book.ChapterTotal" type="hidden" value="@Model.Book.ChapterTotal" />
			<input asp-for="Book.Cover" type="hidden" value="@Model.Book.Cover" />
			<!--begin::Aside column-->
			<div class="d-flex flex-column gap-7 gap-lg-10 w-100 w-lg-300px mb-7 me-lg-10">
				<!--begin::Thumbnail settings-->
				<div class="card card-flush py-4">
					<!--begin::Card header-->
					<div class="card-header">
						<!--begin::Card title-->
						<div class="card-title">
							<h2>Ảnh Bìa</h2>
						</div>
						<!--end::Card title-->
					</div>
					<!--end::Card header-->
					<!--begin::Card body-->
					<div class="card-body text-center pt-0">
						<!--begin::Image input-->
						@{
							var cover = "";
							if (Model.Book.Cover != null)
							{
								cover = Model.Book.Cover;
							}
							else cover = "assets/media/svg/files/blank-image.svg";
						}
						<div class="image-input image-input-empty image-input-outline mb-3" data-kt-image-input="true" style="background-image: url(@cover)">
							<!--begin::Preview existing avatar-->
							<div class="image-input-wrapper w-180px h-240px" style="width: 180px;height: 240px;"></div>
							<!--end::Preview existing avatar-->
							<!--begin::Label-->
							<label class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="change" data-bs-toggle="tooltip" title="Change image">
								<i class="bi bi-pencil-fill fs-7"></i>
								<!--begin::Inputs-->
								<input asp-for="ThumbnailImage" type="file" accept=".png, .jpg, .jpeg" />
								<!--end::Inputs-->
							</label>
							<!--end::Label-->
							<!--begin::Cancel-->
							<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="cancel" data-bs-toggle="tooltip" title="Cancel image">
								<i class="bi bi-x fs-2"></i>
							</span>
							<!--end::Cancel-->
							<!--begin::Remove-->
							<span class="btn btn-icon btn-circle btn-active-color-primary w-25px h-25px bg-body shadow" data-kt-image-input-action="remove" data-bs-toggle="tooltip" title="Remove image">
								<i class="bi bi-x fs-2"></i>
							</span>
							<!--end::Remove-->
						</div>
						<!--end::Image input-->
						<!--begin::Description-->
						<div class="text-muted fs-7">Set the book thumbnail image. Only *.png, *.jpg and *.jpeg image files are accepted</div>
						<!--end::Description-->
					</div>
					<!--end::Card body-->
				</div>
				<!--end::Thumbnail settings-->
				<!--begin::Status-->
				<div class="card card-flush py-4">
					<!--begin::Card header-->
					<div class="card-header">
						<!--begin::Card title-->
						<div class="card-title">
							<h2>Trạng Thái</h2>
						</div>
						<!--end::Card title-->
						<!--begin::Card toolbar-->
						<div class="card-toolbar">
							<div class="rounded-circle bg-success w-15px h-15px" id="kt_ecommerce_add_product_status"></div>
						</div>
						<!--begin::Card toolbar-->
					</div>
					<!--end::Card header-->
					<!--begin::Card body-->
					<div class="card-body pt-0">
						<!--begin::Select2-->
						<select asp-for="Status" class="form-select mb-2" data-control="select2" data-hide-search="true" data-placeholder="Chọn trạng thái">
							<option></option>
							@{
								if (Model.Book.Status == "Đang ra")
								{
									<option value="Đang ra" selected="selected">Đang ra</option>
									<option value="Hoàn thành">Hoàn thành</option>
									<option value="Tạm dừng">Tạm dừng</option>
								} else if (Model.Book.Status == "Hoàn thành") {
									<option value="Đang ra">Đang ra</option>
									<option value="Hoàn thành" selected="selected">Hoàn thành</option>
									<option value="Tạm dừng">Tạm dừng</option>
								} else
								{
									<option value="Đang ra">Đang ra</option>
									<option value="Hoàn thành">Hoàn thành</option>
									<option value="Tạm dừng" selected="selected">Tạm dừng</option>
								};

							}
							
						</select>
						<!--end::Select2-->
						<!--begin::Description-->
						<div class="text-muted fs-7">Lựa chọn trạng thái truyện.</div>
						<!--end::Description-->
					</div>
					<!--end::Card body-->
				</div>
				<!--end::Status-->
				<!--begin::Category & tags-->
				<div class="card card-flush py-4">
					<!--begin::Card header-->
					<div class="card-header">
						<!--begin::Card title-->
						<div class="card-title">
							<h2>Thông Tin Truyện</h2>
						</div>
						<!--end::Card title-->
					</div>
					<!--end::Card header-->
					<!--begin::Card body-->
					<div class="card-body pt-0">
						<!--begin::Input group-->
						<!--begin::Label-->
						<label class="form-label">Thể loại</label>
						<!--end::Label-->
						<!--begin::Select2-->
						@{
							var CategoryId = Model.CategoryList.Find(item => item.Name == Model.Book.CategoryName).Id;
						}
						<select asp-for="CategoryId" asp-items="@((new SelectList(Model.CategoryList, nameof(CategoryResponse.Id), nameof(CategoryResponse.Name))))" class="form-select mb-2" data-control="select2" data-placeholder="Chọn thể loại">
							<option></option>
							<option value="@CategoryId" selected="selected">@Model.Book.CategoryName</option>
						</select>
						<!--end::Select2-->
						<!--begin::Description-->
						<div class="text-muted fs-7 mb-7">Lựa chọn thể loại của truyện.</div>
						<!--end::Description-->
						<!--end::Input group-->
						<!--begin::Button-->
						<a href="../../demo1/dist/apps/ecommerce/catalog/add-category.html" class="btn btn-light-primary btn-sm mb-10">
						<!--begin::Svg Icon | path: icons/duotune/arrows/arr087.svg-->
						<span class="svg-icon svg-icon-2">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
								<rect opacity="0.5" x="11" y="18" width="12" height="2" rx="1" transform="rotate(-90 11 18)" fill="currentColor" />
								<rect x="6" y="11" width="12" height="2" rx="1" fill="currentColor" />
							</svg>
						</span>
						<!--end::Svg Icon-->Thêm thể loại mới</a>
						<!--end::Button-->
						<!--begin::Input group-->
						<!--begin::Label-->
						<label class="form-label d-block">Tác giả</label>
						<!--end::Label-->
						<!--begin::Input-->
						<input asp-for="AuthorName" value="@Model.Book.AuthorName" class="form-control mb-2" />
						<!--end::Input-->
						<!--begin::Description-->
						<div class="text-muted fs-7">Tên tác giả của truyện.</div>
						<!--end::Description-->
						<!--end::Input group-->
					</div>
					<!--end::Card body-->
				</div>
				<!--end::Category & tags-->
			</div>
			<!--end::Aside column-->
			<!--begin::Main column-->
			<div class="d-flex flex-column flex-row-fluid gap-7 gap-lg-10">
				<!--begin:::Tabs-->
				<ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-bold mb-n2">
					<!--begin:::Tab item-->
					<li class="nav-item">
						<a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_add_product_general">Chung</a>
					</li>
					<!--end:::Tab item-->
				</ul>
				<!--end:::Tabs-->
				<!--begin::Tab content-->
				<div class="tab-content">
					<!--begin::Tab pane-->
					<div class="tab-pane fade show active" id="kt_ecommerce_add_product_general" role="tab-panel">
						<div class="d-flex flex-column gap-7 gap-lg-10">
							<!--begin::General options-->
							<div class="card card-flush py-4">
								<!--begin::Card header-->
								<div class="card-header">
									<div class="card-title">
										<h2>Thông Tin</h2>
									</div>
								</div>
								<!--end::Card header-->
								<!--begin::Card body-->
								<div class="card-body pt-0">
									<!--begin::Input group-->
									<div class="mb-10 fv-row">
										<!--begin::Label-->
										<label class="required form-label">Tên Truyện</label>
										<!--end::Label-->
										<!--begin::Input-->
										<input asp-for="Name" type="text" class="form-control mb-2" placeholder="Tên truyện" value="@Model.Book.Name" />
										<!--end::Input-->
										<!--begin::Description-->
										<span asp-validation-for="Name" class="text-danger"></span>
										<div class="text-muted fs-7">Tên của truyện là bắt buộc</div>
										<!--end::Description-->
									</div>
									<!--end::Input group-->
									<!--begin::Input group-->
									<div>
										<!--begin::Label-->
										<label class="form-label">Mô Tả</label>
										<!--end::Label-->
										<!--begin::Editor-->
										<textarea name="Intro" asp-for="Book.Intro" rows="25" class="form-control">@Model.Book.Intro</textarea>
										<!--end::Editor-->
										<!--begin::Description-->
										<div class="text-muted fs-7">Mô tả ngắn về truyện.</div>
										<!--end::Description-->
									</div>
									<!--end::Input group-->
								</div>
								<!--end::Card header-->
							</div>
							<!--end::General options-->
						</div>
					</div>
					<!--end::Tab pane-->
				</div>
				<!--end::Tab content-->
				<div class="d-flex justify-content-end">
					<!--begin::Button-->
					<a asp-action="Index" class="btn btn-light me-5">Trở về danh sách</a>
					<!--end::Button-->
					<!--begin::Button-->
					<button type="submit" class="btn btn-primary">
						<span class="indicator-label">Xác Nhận</span>
						<span class="indicator-progress">Please wait...
						<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
					</button>
					<!--end::Button-->
				</div>
			</div>
			<!--end::Main column-->
		</form>
		<!--end::Form-->
	</div>
	<!--end::Container-->
</div>
<!--end::Post-->